<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are Covid Help Lines</h4>
                  </div>
  
                  <form #UserLogin="ngForm" (ngSubmit)="addUser(UserLogin)">
                    <!-- <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)"> -->
                    <p>Please Create an account</p>
                     
                    <div class="form-group">
                    <div class="form-outline mb-4">
                      <input name="Firstname" firstname #firstname="ngModel" ngModel required type="text" class="form-control" placeholder="Enter first Name"/>
                      <label >First name</label>
                      <div><span class="text-danger" *ngIf="firstname.invalid && firstname.touched">Firstname field is must required</span></div>
                      
                    </div>
                </div>
                <div class="form-group">
                  <div class="form-outline mb-4">
                    <input name="Lastname" Lastname #Lastname="ngModel" ngModel  type="text" class="form-control" placeholder="Enter Last Name"/>
                    <label >Last Name*</label>
                    <!-- <div><span class="text-danger" *ngIf="email.invalid && email.touched">email field is must required</span></div>
                     -->
                  </div>
              </div>
              <div class="form-group">
                <div class="form-outline mb-4">
                  <input name="Age" Age #Age="ngModel" ngModel  type="number" class="form-control" placeholder="Enter age"/>
                  <label >Age</label>
                  <!-- <div><span class="text-danger" *ngIf="email.invalid && email.touched">email field is must required</span></div> -->
                  
                </div>
            </div>
            <div class="form-group">
              <div class="form-outline mb-4">
                <input name="country" country #country="ngModel" ngModel required type="text" class="form-control" placeholder="Enter country name"/>
                <label >Enter Country Name</label>
                <!-- <div><span class="text-danger" *ngIf="email.invalid && email.touched">email field is must required</span></div> -->
                
              </div>
          </div>
          <div class="form-group">
            <div class="form-outline mb-4">
              <input name="Adress" Adress #Adress="ngModel" ngModel required type="text" class="form-control" placeholder="email address"/>
              <label >Adress</label>
              <!-- <div><span class="text-danger" *ngIf="email.invalid && email.touched">email field is must required</span></div> -->
              
            </div>
        </div>

        <div class="form-group">
          <div class="form-outline mb-4">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="male" ngModel required >
          <label class="form-check-label" for="exampleRadios1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="female" ngModel required>
          <label class="form-check-label" for="exampleRadios2">
            Female
          </label>
        </div>
      </div>
      </div>

        <div class="form-group">
          <div class="form-outline mb-4">
            <input name="email" email #email="ngModel" ngModel required type="email" class="form-control" placeholder="email address"/>
            <label >Email Adress</label>
            <div><span class="text-danger" *ngIf="email.invalid && email.touched">email field is must required</span></div>
            
          </div>
      </div>
                   
            <div class="form-group">         
                    <div class="form-outline mb-4">
                      <input type="password" name="password" minlength="3" #password="ngModel"  required ngModel  class="form-control"  />
                      <label >Password</label>
                      <div>
                          <!-- <span *ngIf="password.invalid && password.touched">8 characters must be there</span> -->
                          <div>
                          <span class="text-danger" *ngIf="password.invalid && password.touched">password must be 8characters required to field</span>
                        </div>
                        </div>
                    </div>
                </div>      
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" > Sign In</button>
                      <a routerLink="/login">Already an user</a>
                    </div>
  
                    <!-- <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger">Create new</button>
                    </div> -->
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>