<app-nav></app-nav>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
       <div class="row">
     
<!-- Main content -->
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Country covid Tracker</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
             
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">country name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
                </div>
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
                </div>
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
                </div>
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
                </div>
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
                </div>
                <div class="col-2">
                  <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
                <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
                </div>
            </div>
            <div class="row">
             
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">country  name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
              
              </div>
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
              
              </div>
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
              
              </div>
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
              
              </div>
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
              
              </div>
              <div class="col-2">
                <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
             
              </div>
          </div>
          <div class="row">
             
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">country name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
            </div>
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
            </div>
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
            </div>
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
            </div>
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
            </div>
            <div class="col-2">
              <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
            <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
            </div>
        </div>
        <div class="row">
             
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">country name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
          </div>
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
          </div>
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
          </div>
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
          </div>
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
          </div>
          <div class="col-2">
            <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
          <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
          </div>
      </div>
      <div class="row">
             
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">country name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
        </div>
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
        </div>
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
        </div>
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
        </div>
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
        </div>
        <div class="col-2">
          <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
        <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
        </div>
    </div>
    <div class="row">
             
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">dictrict name <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
      </div>
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">population <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
      </div>
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">Confirmed case <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
      </div>
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">deaths<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber" >
      </div>
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">recover <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
      </div>
      <div class="col-2">
        <label for="typeahead-basic" class="font-weight-normal">vaccinated<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="This field is auto populated from mySGS."></i></label>
      <input autoComplete="on" class="form-control" formControlName="EmployeeNameNumber">
      </div>
  </div>
   <br/>  
              <!-- {{this.productForm.value | json}}   -->
             

          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer">
            Footer
          </div> -->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
   
<!-- /.content -->

<!-- <router-outlet></router-outlet> -->
      </div> 
    </div><!-- /.container-fluid -->
  </section>
</div>