<!-- <app-nav></app-nav> -->

<div class="barWrapper">
  <span class="progressText text-right"><B>Odisha</B></span>
  <div class="progress">
    <div
   
      class="progress-bar pb"
      role="progressbar"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <span
        class="popOver"
        data-toggle="tooltip"
        data-placement="top"
        title="85%"
      >
      </span>
   25% </div>
  </div>
  <br />
  <span class="progressText text-right"><B>Madhyapradesh</B></span>
  <div class="progress">
    <div
      class="progress-bar bg-success pb"
      role="progressbar"
      aria-valuenow="60"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <span
        class="popOver"
        data-toggle="tooltip"
        data-placement="top"
        title="85%"
      >
      </span>
      75%
    </div>
  </div>
  <br />
  <span class="progressText text-right"><B>West Bengal</B></span>
  <div class="progress">
    <br />
    <div
      class="progress-bar bg-info pb"
      role="progressbar"
      aria-valuenow="70"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <span
        class="popOver"
        data-toggle="tooltip"
        data-placement="top"
        title="85%"
      >
      </span>
      45%
    </div>
  </div>
   <br />
  <span class="progressText text-right"><B>Example Statel</B></span>
  <div class="progress">
    <div
      class="progress-bar bg-warning pb"
      role="progressbar"
      aria-valuenow="90"
      aria-valuemin="0"
      aria-valuemax="100"
      
    >
      <span
        class="popOver"
        data-toggle="tooltip"
        data-placement="top"
        title="85%"
      >
      </span>
      30%
    </div>
  </div>
</div>
