<!-- [1:31 AM, 2/20/2022] Riya: -->
<app-nav></app-nav> 
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
       <div class="row">
     
<!-- Main content -->
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">State covid Tracker</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
         
          <div class="container">
            <div class="row">
              <div class="col-10">
                <div class="row clearfix">
                  <div class="col-md-12 column">
                    <table class="table table-bordered table-hover" id="tab_logic" style="margin-left:-20%;">
                      <thead>
                        <tr>
                          <th class="text-center">
                            #
                          </th>
                          <th class="text-center">
                            City-Name
                          </th>
                          <th class="text-center">
                            Population
                          </th>
                          <th class="text-center">
                            active
                          </th>
                          <th class="text-center">
                            confirmed
                          </th>
                          <th class="text-center">
                            deaceased
                          </th>
                          <th class="text-center">
                            recoverd
                          </th>
                          <th class="text-center">
                            vaccinated
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let val of StateData">
                          <td></td>
                          <td >
                            <input type="text" [(ngModel)]="val.city_name"  placeholder='Enter city Name' class="form-control" disabled/>
                            </td>
                          <td>
                            <input type="text" [(ngModel)]="val.population"  placeholder='Enter Full Name' class="form-control" disabled/>
                            </td>
                            <td>
                              <input type="text" [(ngModel)]="val.active"  placeholder='Enter Full Name' class="form-control" disabled/>
                              </td>
                              <td>
                                <input type="text" [(ngModel)]="val.confirmed"  placeholder='Enter Full Name' class="form-control" disabled/>
                                </td>
                          <td>
                          <input type="text"  [(ngModel)]="val.deceased" placeholder='Enter Full Name' class="form-control" disabled/>
                          </td>
                          <td>
                          <input type="email" [(ngModel)]="val.recovered" placeholder='Enter Mail' class="form-control" disabled/>
                          </td>
                          <td>
                          <input type="number" [(ngModel)]="val.vaccinated" placeholder='Enter Mobile' class="form-control" disabled/>
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="dropdown">
                  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                    select Region
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" >Default</a>
                    <a class="dropdown-item" >city</a>
                    <button class="dropdown-item" (click)="getStates()">states</button>
                  </div>
                </div>
                <div class="dropdown">
                  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                    select Region
                  </button>
                  <div class="dropdown-menu" >
                    <button class="dropdown-item" *ngFor="let item of statesArray" (click)="getSelectedState(item)" >{{item}}</button>
                   
                  </div>
                </div>
              </div>
            
            </div>
          </div>
         
       
          
          <!-- /.card-body -->
          <!-- <div class="card-footer">
            Footer
          </div> -->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
   
<!-- /.content -->

<!-- <router-outlet></router-outlet> -->
      </div> 
    </div><!-- /.container-fluid -->
  </section>
</div>
